.change-password-form {
  &.card {
    border-color: #DAD3C3;
    border-radius: 16px;
    margin-top: 16px;

    .message-error{
      color: #F06445;
    }

    .edit-button {
      border-radius: 50%;
      height: 24px;
      width: 24px;
      display: flex;
      align-items: center;
      justify-content: center;

      .icon-pen {
        height: 20px;
        width: 20px;
      }
    }

    .remove-button {
      border-radius: 50%;
      height: 24px;
      width: 24px;
      display: flex;
      align-items: center;
      justify-content: center;

      .icon-pen {
        height: 20px;
        width: 20px;
      }
    }

    .submit-button {
      background-color: #30A6B6;
      border-color: #30A6B6;
      border-radius: 16px;
    }

    .card-body {
      border-top: 1px solid #DAD3C3 !important;
    }
  }
}
