@keyframes ldio-0zlp3qao0gy9 {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-0zlp3qao0gy9 div {
  position: absolute;
  width: 60px;
  height: 60px;
  border: 5px solid #30a6b6;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-0zlp3qao0gy9 div {
  animation: ldio-0zlp3qao0gy9 1s linear infinite;
  top: 100px;
  left: 100px
}
.loadingio-spinner-rolling-41v0rcqpl6g {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}
