.select-product-box {
  .dropdown_custom {
    padding: 8px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
    background: #FFF;
    border-radius: 4px;
  }
  .image-product {
    height: 40px !important;
    width: 40px !important;
  }
}
